.event-global-container {
  min-height: 150vh;
}
.event-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}

.events-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
}

@media screen and (max-width: 768px) {
  .events-list {
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
  }
}

.event-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  background-color: #f8c471;
  margin: auto;
  animation: slideDown 1s ease-out;
}

@media screen and (max-width: 768px) {
  .event-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.anim-left {
  animation: slideLeft 1s ease-out;
}

@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.event-text {
  margin-left: 150px;
}

@media screen and (max-width: 768px) {
  .event-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.events-h2 {
  font-size: 60px;
  color: #2c3e50;
  text-align: left;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .events-h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .event-text .auth-button {
    position: relative;
    left: 25%;
    width: 140px;
    padding: 10px 15px;
  }
}

.events-subtext {
  font-size: 18px;
  color: #2c3e50;
  text-align: left;
}

.event-image {
  height: 43vh;
  max-width: 400px;
  margin-right: 10%;
  width: 100%;
}

.events-h2 {
  text-align: center;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .image-preview {
    width: calc(100% - 25px);
  }
}

.event-container .separator {
  background: #f8c471;
  border-radius: 10px;
  margin: 30px auto;
  width: 800px;
  height: 4px;
  border-radius: 50px;
}

@media screen and (max-width: 768px) {
  .event-container .separator {
    width: 250px;
  }
}

.event-item {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  min-width: 400px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .event-item {
    min-width: 200px;
    width: 342px;
  }
}

.event-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.event-item h3 {
  font-size: 28px;
  margin-bottom: 40px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .event-item h3 {
    margin-top: 40px;
  }
}

.event-item p {
  color: #555;
  font-size: 1em;
}

@media screen and (max-width: 768px) {
  .event-item p {
    font-size: 0.9em;
  }
}

.event-item .date,
.event-item .hours,
.event-item .location {
  display: flex;
  font-size: 0.95em;
  color: #555;
  padding: 5px 0;
  gap: 3px;
  margin: 0 auto;
  width: 90%;
}

.search-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2c3e50;
  text-align: center;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .search-title {
    font-size: 1rem;
  }
}

.search-container {
  position: relative;
  width: 350px;
  margin: auto;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 25px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
}

.search-container input {
  width: 300px;
  padding: 12px 20px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

@media screen and (max-width: 768px) {
  .search-container input {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .search-container {
    display: flex;
    justify-content: center;
  }
}

.search-container input::placeholder {
  color: #888;
  font-style: italic;
}

.search-container input:focus {
  border-color: #1d1d1d85;
  box-shadow: 0 0 8px rgba(74, 144, 226, 0.4);
}

.search-container .search-icon {
  position: absolute;
  top: 35%;
  right: 10%;
  color: #aaa;
  font-size: 18px;
}

.search-container .search-icon:hover {
  animation: block 0.9s infinite;
}

@keyframes block {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  .search-container .search-icon {
    position: absolute;
    top: 50%;
    right: -100%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 15px;
  }
}

.evt-details-btn {
  background-color: #2c3e50;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  transition: all 0.3s ease;
}

.evt-details-btn:hover {
  box-shadow: 2px 2px 5px rgb(44, 62, 80);
}

.evt-details-btn:active {
  background-color: #004085;
  transform: scale(1);
}

.event-item button {
  position: absolute;
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 8px;
  top: 10px;
  right: 10px;
  margin: auto;
  cursor: pointer;
  font-size: 1.5rem;
  background-color: #667;
  color: #fff;
  transition: color 0.3s ease;
}

.event-item button.liked {
  color: red;
  background-color: #fff;
}

.filters-container {
  background-color: #fff;
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  width: 100%;
  text-align: center;
  margin: 20px auto;
}

@media screen and (max-width: 768px) {
  .filters {
    width: calc(100% - 10px);
  }
}

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 15px;
}

.filter-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  border: 2px solid #b1b0b0;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  font-size: 14px;
  margin-top: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  white-space: nowrap;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .filter-btn {
    width: 50px;
    height: 85px;
    width: calc(33.33% - 10px);
  }
}

.filter-btn i {
  font-size: 30px;
  color: #2c3e50;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .filter-btn i {
    font-size: 15px;
  }
}

.filter-btn span {
  font-size: 14px;
  color: #2c3e50;
}

.filter-btn:hover {
  border-color: #f1af43;
  box-shadow: 0px 6px 12px rgba(230, 190, 13, 0.404);
}

.filter-btn.active {
  background-color: #f1af43;
  border-color: #f1af43;
  color: white;
}

.filter-btn-date {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  color: #2c3e50;
  text-align: center;
  cursor: pointer;
  padding: 10px 0;
  background: none;
  border: none;
  transition: color 0.3s ease;
}

.filter-btn-date::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #f1af43;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.filter-btn-date:hover::after {
  width: 100%;
}

.filter-btn-date.active::after {
  width: 100%;
}

.select-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

.select-container select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #b1b0b0;
  border-radius: 8px;
  background: white;
  color: #2c3e50;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .select-container select {
    width: calc(100% - 20px);
    margin-left: 10px;
  }
}

.select-container select:hover {
  border-color: #494847;
}

.select-container select:focus {
  border-color: rgba(13, 14, 19, 0.555);
}

.select-container select:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.reset-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e74c3c;
  color: white;
  padding: 15px 15px;
  width: 15%;
  font-size: 16px;
  letter-spacing: 0.2px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 30px;
  transition: all 0.1s ease-in-out;
}

@media screen and (max-width: 768px) {
  .reset-btn {
    width: 60%;
  }
}

.reset-btn:hover {
  box-shadow: 2px 2px 5px #db2007;
  background-color: #c0392b;
}

.reset-icon {
  font-size: 16px;
}

.no-events-found {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #2c3e50;
  text-align: center;
  margin-top: 50px;
  gap: 20px;
}

.no-events-found img {
  width: 250px;
  height: auto;
  object-fit: contain;
}

.event-passed {
  background-color: #f8b8b8;
  border: 2px solid #f5a9a9;
  font-size: 1.2em;
  font-weight: bold;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  margin-top: 15px;
}

.past-event {
  opacity: 0.9;
  background-color: #f0f0f0;
  cursor: not-allowed;
}

.past-event .like-btn {
  display: none;
}

@media screen and (max-width: 768px) {
  .image-preview {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
