.favorites-container {
  min-height: 100vh;
  padding: 20px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .favorites-container {
    padding: 20px 0;
  }
}

.favorites-section {
  max-width: 1200px;
  width: 100%;
  margin: 30px auto;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, #f0f4f8, #d9e2ec);
}

@media screen and (max-width: 768px) {
  .favorites-section {
    width: 100%;
    padding: 25px 0;
    margin: auto;
  }
}

.favorites-section h2 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 35px;
  color: #222;
  margin-bottom: 25px;
  text-align: center;
}

.favorites-section p {
  font-size: 0.95rem;
  gap: 3px;
  padding: 5px 0;
  margin: 0 auto;
  width: 90%;
  color: #555;
  display: flex;
}

.favorites-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-top: 25px;
}

.favorite-item {
  background: #ffffff;
  min-width: 320px;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .favorite-item {
    width: calc(100% - 40px);
    margin: 0 10px;
  }
}

.favorite-item:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.favorite-item h3 {
  font-size: 1.8rem;
  text-align: center;
  color: #222;
  margin-bottom: 15px;
  font-weight: bold;
}

.favorite-item .description {
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  color: #444;
  margin: 10px 0;
}

.favorite-item .btn-participate {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.favorite-item .btn-participate:hover {
  background-color: #2980b9;
}
.favorite-item .btn-participate {
  display: block;
  margin-left: auto;
}

.favorite-item .already-participating {
  background-color: #f0f8ff;
  border: 1px solid #007bff;
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  margin-top: 15px;
}

.skeleton-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.skeleton-card {
  width: 90%;
  max-width: 1200px;
  background: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skeleton-image {
  width: 100%;
  height: 150px;
  background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite linear;
  border-radius: 8px;
}

.skeleton-text {
  width: 80%;
  height: 15px;
  background: #e0e0e0;
  margin: 10px 0;
  border-radius: 5px;
}

.skeleton-text.small {
  width: 60%;
}

.skeleton-button {
  width: 50%;
  height: 30px;
  background: #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
