.footer {
  background-color: #2c3e50;
  color: #fff;
  text-align: center;
  padding: 20px 10px;
  width: 100%;
  position: relative;
  bottom: 0;
  border-top: 2px solid #d4d2d2;
  animation: fadeIn 0.8s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-nav {
  margin: 30px 0;
}

.footer-content .p-footer {
  color: #fff;
}

.footer-nav a {
  color: #d9d9d9;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s ease;
}

.footer-nav a:hover {
  color: #979393;
}

.footer-nav .active-link {
  /* color: #000; */
  font-weight: bold;
  border-bottom: 2px solid #f8c471;
}
