.forgot-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.452);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.forgot-modal .forgot-content {
  border-radius: 8px;
  min-width: 500px;
  width: 35%;
  text-align: center;
  background-color: #020722;
}

@media screen and (max-width: 768px) {
  .forgot-modal .forgot-content {
    width: 95%;
    padding: 20px 0;
  }
}

.forgot-content h3 {
  margin-bottom: 50px;
  color: white;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .forgot-content h3 {
    padding: 0 10px;
    font-size: 20px;
  }
}

.forgot-input {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.forgot-input label {
  font-size: 14px;
  color: #fff;
  text-align: left;
  padding: 0 20px;
}

.forgot-input input {
  padding: 8px;
  border-radius: 8px;
  margin: auto;
  background-color: #333a5c;
  color: white;
  border: 1px solid #555;
  width: 90%;
}

.forgot-input input:focus {
  outline: none;
  border-color: #6366f1;
}

.forgot-content button {
  background: linear-gradient(to right, #6366f1, #312e81);
  border-radius: 30px;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: calc(70% - 40px);
  margin: 20px auto;
}

.forgot-content button:hover {
  opacity: 0.8;
}

.forgot-content .code-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 0 15px;
}

.forgot-content .close-icon {
  font-size: 1.4rem;
  cursor: pointer;
  color: #fff;
  padding: 20px 15px;
}

.close-icon:hover {
  transform: scale(1.1);
}

.forgot-input .success-message {
  color: #4caf50;
  font-size: 16px;
  margin-top: 20px;
}

.error {
  color: #f44336;
  font-size: 15px;
  margin-top: 20px;
}

.forgot-content .login-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #007bff;
  margin-bottom: 20px;
}

.forgot-content .login-link:hover {
  text-decoration: underline;
}

.arrow-icon-forgot {
  font-size: 20px;
  color: white;
}
