.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
}

.login-form {
  background-color: white;
  padding: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.226);
  max-width: 500px;
  border: 2px solid #d4d2d2;
  width: 100%;
  margin-bottom: 5%;
}

@media screen and (max-width: 768px) {
  .login-form {
    margin: 0 10px;
  }
}

.form-group {
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #e9a231;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.login-button:hover {
  background-color: #f8c471;
}

.login-form .register-link {
  text-align: center;
}

.register-link {
  display: block;
  margin-top: 15px;
  color: #2b2929;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.register-link:hover {
  color: #007bff;
  text-decoration: underline;
}

.forget-password-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #2b2929;
  border: none;
  background: none;
}

.forget-password-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.err-message-login {
  color: red;
  font-weight: 600;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
