body.register-page {
  background-color: white;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 100vh;
}

.register-form {
  background-color: #fff;
  padding: 20px 40px;
  margin-bottom: 100px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.226);
  width: 100%;
  max-width: 400px;
}

@media screen and (max-width: 768px) {
  .register-form {
    margin: 0 10px;
  }
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  color: #333;
}

.form-group input {
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
}

.form-group input:focus {
  border-color: #3498db;
}

.form-group input + .icon {
  position: absolute;
  top: 25px;
  right: 1px;
  transform: translateY(50%);
  color: #000;
  transition: color 0.3s;
  transition: ease 0.8s;
}

.form-group input:focus + .icon {
  transform: translateY(-110%);
  color: #3498db;
}

.toggle-password {
  position: absolute;
  right: 0;
  top: 32px;
  background: none;
  border: none;
  cursor: pointer;
}

.register-button {
  width: 100%;
  padding: 12px;
  background-color: #e9a231;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.register-button:hover {
  background-color: #f8c471;
}

.login-link {
  display: block;
  text-align: center;
  margin-top: 1rem;
  color: #2b2929;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.login-link:hover {
  text-decoration: underline;
  color: #007bff;
}

.form-group .icon {
  font-size: 20px;
  pointer-events: none;
}

.form-group input:focus ~ .icon {
  color: #3498db;
}

.error-message {
  color: red;
  font-weight: 600;
}

.form-group .checkbox-terms {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 10px;
  cursor: pointer;
}

.form-group .checkbox-terms input {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.form-group .checkbox-terms label {
  margin-bottom: 0;
}

.checkbox-terms .terms-link:hover {
  text-decoration: underline;
  color: #007bff;
  cursor: pointer;
}
