.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: white;
  padding: 30px;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: left;
  max-height: 80vh;
  overflow-y: auto;
}

.modal-content h2 {
  font-size: 24px;
  color: #007bff;
  text-align: center;
  margin-bottom: 10px;
}

.modal-content h3 {
  font-size: 18px;
  margin-top: 20px;
  color: #333;
  border-left: 4px solid #007bff;
  padding-left: 10px;
}

.modal-content p,
.modal-content ul {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

.modal-content ul {
  margin-left: 20px;
  list-style-type: disc;
}

.modal-content ul li {
  margin-bottom: 5px;
}

.rgpd-contact-link {
  font-weight: bold;
  text-decoration: none;
}

.rgpd-contact-link:hover {
  text-decoration: underline;
}

.modal-content::-webkit-scrollbar {
  width: 8px;
}

.modal-content::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 10px;
}

.modal-content .close-button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.rgpd-contact-link {
  color: #007bff;
}
