.users-container {
  height: 100vh;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.users-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .users-list {
    overflow-x: auto;
  }
}

.users-list h2 {
  text-align: center;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

.search-users {
  padding: 10px;
  margin: 10px 0;
  width: 30%;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .search-users {
    width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .users-list button {
    margin: 5px 0;
  }
}

.skeleton-container-users {
  width: 100%;
  padding: 20px;
}

.skeleton-card-users {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.skeleton-table {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  width: 100%;
}

.skeleton-row {
  height: 40px;
  background-color: #e0e0e0;
  border-radius: 5px;
  animation: skeleton 1.5s infinite ease-in-out;
}

@keyframes skeleton {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #d0d0d0;
  }
  100% {
    background-color: #e0e0e0;
  }
}
