.verification-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.452);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.verification-modal .modal-content {
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
  background-color: #020722;
}

.verification-modal .modal-content h3 {
  margin-bottom: 50px;
  color: white;
  font-size: 20px;
}

.modal-content button {
  background: linear-gradient(to right, #6366f1, #312e81);
  border-radius: 30px;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 15px;
  width: 100%;
}

.modal-header {
  display: flex;
  align-items: center;
}

.close-icon {
  font-size: 1.4rem;
  cursor: pointer;
  color: #fff;
  padding: 20px 0;
}
.close-icon:hover {
  transform: scale(1.1);
}

.code-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.code-input-container .code-input {
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  background: #333a5c;
  border-radius: 8px;
  outline: none;
}

@media screen and (max-width: 768px) {
  .code-input-container .code-input {
    width: 30px;
    height: 30px;
  }
}
.code-input:focus {
  border-color: white;
}
